/* Desktop */

.light {
	 /*Montserrat Light = 300 */
	font-weight: 300 !important;
	font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}

/*
.regular {
	 Montserrat Regular = 400
	font-weight: 400;
	font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}


.medium {
	 Montserrat Medium = 500 
	font-weight: 500;
	font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}*/

.semibold {
	/*Montserrat Semi-bold = 600 */
	font-weight: 600;
	font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}

@media (min-width: 1200px) {
	.container {
	    max-width: 1250px;
	}
}

h2, h3 {
	font-weight: 500;
	font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
	font-size: 30px;
}

body {
	font-weight: 400;
	font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}

.active {
	background-color: #ff4c44;
	color: #fff;
}

.bc-primary {
	background-color: #fafafd;
}

.bc-secundary {
	background-color: #ff4c44;
}

.bc-dark-blue {
	background-color: #103791 !important;
}

.bc-light-blue {
	background-color: #4285f4 !important;
}

.bc-default {
	background-color: #fff !important;
}

.c-default {
	color: #fff !important
}

.c-primary {
	color: #ff4c44 !important;
}

.c-grey {
	color: #a3a3a3 !important;
}

.b-r {
	border-right: 1px solid #000;
}

.b-b {
	border-bottom: 1px solid rgba(0,0,0,.1);
}

.b-t {
	border-top: 1px solid rgba(0,0,0,.1);
}

.w-38 {
	width: 38%;
}

.w-80 {
	max-width: 80%;
}

.custom-shadow {
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
	border-radius: 10px;
}

.f-10 {
	font-size: 10px;
}

.f-12 {
	font-size: 12px;
}

.f-14 {
	font-size: 14px;
}

.custom-d-flex {
	display: flex;
	align-items: center;
	justify-content: center;
}

.align-center {
	align-items: center;
}

.custom-btn-default {
	background-color: transparent;
	border: 1px solid #ff4c44;
	color: #ff4c44;
	padding: 8px 34px;
}

.custom-btn {
	background-color: #ff4c44;
	padding: 8px 24px;
	color: #fff;
}


/* NAVBAR*/
.dropdown-toggle::after {
	display: none;
}

.dropdown-item:focus, .dropdown-item:hover {
	background-color: #ff4c44;
	color: #fff;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	background-color: #ff4c44;
	color: #fff;
	border-radius: 5px;
}
.navbar-light .navbar-nav .nav-link {
	color: #000;
}

.navbar-light .navbar-nav .show>.nav-link {
	background-color: #ff4c44;
	color: #fff;
	border-radius: 5px;
}

.custom-navbar .navbar-collapse .navbar-nav {
	margin: 0 auto;
}

.custom-navbar .navbar-collapse .form-inline .btn {
	border-radius: .25rem;
	border: 1px solid #00000026;
	background-color: transparent;
	font-size: 12px;
}

.custom-navbar .navbar-collapse .dropdown {
	list-style: none;
}

.custom-navbar .navbar-collapse .dropdown .custom-dropdown {
	margin-left: 15px;
	border-radius: .25rem;
	border: 1px solid #00000026;
	padding: 6px 12px;
	color: #000;
	font-size: 12px;
}

.custom-navbar .navbar-collapse .dropdown .custom-menu {
	margin-left: 15px;
	width: 92%;
}

.custom-navbar .navbar-collapse .dropdown .custom-menu .dropdown-item {
	font-size: 12px;
}

.custom-navbar .navbar-collapse .navbar-nav .nav-item {
	margin-right: 15px;
}

.custom-navbar .navbar-collapse ul li a{
	font-size: 12px;
}


.section-banner {
	background-image: url('img/banner-grey.png');
	background-size: cover;
	background-position: center;
}

.section-banner h1{
	color: #fff;
	font-weight: 400;
    font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 40px;
    margin-bottom: 45px;
}

.section-banner p {
	color: #fff;
	font-weight: 300;
    font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    max-width: 95%;
}

.img-backgorund {
	background-image: url('img/back.png');
	background-size: cover;
	width: 100%;
}

.content-text-banner {
	padding: 70px 0 55px 0;
}

.content-span {
	color: #ff4d46;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 400;
	font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}

.content-details-utils {
	padding: 15px 0 90px 0;
}

.content-details-utils .details-utils p {
	font-size: 16px;
	font-weight: 300;
	font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}

.content-details-utils .details-utils.custom-position {
	position: relative;
	top: 45px;
}
.section-change .content-timeline {
	align-items: center;
	padding-top: 30px;
	padding-bottom: 70px;
}

.section-change .content-timeline .content-text {
	position: relative;
	left: -85px;
	top: 30px;
}

.section-change .content-timeline .content-text div {
	position: absolute;
	width: 120px;
	text-align: center;
	font-size: 14px;
}

.section-change .content-timeline .timeline.timeline-last {	
	background-color: #fff;
	border: 3px solid #fff;
	border-radius: 50%;
}

.section-change .content-timeline .line-timeline {
	width: 180px;
	height: 4px;
	background-color: #fff;
}

.section-change .content-timeline .timeline.timeline-b-orange {
	background-color: #ff4c44;
	border: 3px solid #ff4c44;
	border-radius: 50%;
}

.section-change .content-timeline .timeline.timeline-p .content-number {
	padding: 6px 10px;
	font-size: 20px;
	color: #fff;
}

.section-change .content-timeline .timeline.timeline-b-blue-light {
	background-color: #3eb9a9;
	border: 3px solid #3eb9a9;
	border-radius: 50%;
}

.line-timeline-details-b-blue-light {
	background-color: #3eb9a9;
}

.line-timeline-details-orange {
	background-color: #ff4c44;
}

.section-change .content-timeline .line-timeline-details {
	width: 224px;
	height: 4px;
}

.content-section-steps {
	padding: 50px 0;
}

.content-section-steps p{
	line-height: 24px;
	font-size: 14px;
	font-weight: 300;
	font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}


/* Form */
.content-section-steps .section-steps .content-form .custom-btns-socials {
	padding: 40px 20px 50px 20px;
}

.content-section-steps .section-steps .content-form .custom-btns-socials .btn-facebook {
	padding: 5px 20px 5px 5px;
	width: 27%;
	text-align: left;
	border-radius: 5px;
}

.content-section-steps .section-steps .content-form .content-fields-form {
	padding: 30px;
	max-width: 80%;
	margin: 0 auto;
}

.custom-select {
    background-image: url(img/arrow-bottom.png);
    background-size: 10%;
    height: auto;
}

.content-section-steps .section-steps .content-form .content-fields-form label {
	font-size: 14px;
	font-weight: 300;
	font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}

.content-section-steps .section-steps .content-form .content-fields-form hr {
	height: 1px;
	margin: 30px 0;
}

.content-section-steps .section-steps .content-form .content-fields-form .custom-input-date {
	background-image: url('img/icon-calendar.png');
	background-size: calc(.75em + .375rem) calc(.75em + .375rem);
	background-position: center right calc(.375em + .1875rem);
	background-repeat: no-repeat;
}

.content-section-steps .section-steps .content-form .content-fields-form .custom-input-password {
	background-image: url('img/icon-password.png');
	background-position: center right calc(.375em + .1875rem);
	background-repeat: no-repeat;
}

.content-section-steps .section-steps .content-form .content-fields-form .content-text-logo {
	display: inline-block;
	float: left;
}

.content-section-steps .section-steps .content-form .content-fields-form .content-logo-upload {
	display: inline-block;
	width: 27%;
	text-align: left;
}

.content-section-steps .section-steps .content-form .content-fields-form .content-value label {
	font-weight: 400;
	font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
	color: rgba(0, 0, 0, 255);
}

.content-value input::placeholder {
	color: rgba(0, 0, 0, 255);
}

.content-section-steps .section-steps .content-form .content-fields-form .content-btn-next {
	margin-top: 80px;
}

.content-section-steps .section-steps .content-section {
	max-width: 100%;
	margin: 0 auto;
	padding: 50px;
}

.content-section-steps .section-steps .content-section h6 {
	font-size: 18px;
	font-weight: 600;
	font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
	color: rgba(40, 40, 40, 255);
}

.content-section-steps .section-steps .content-section p {
	font-weight: 300;
	font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
	font-size: 14px;
}

.content-section-steps .section-steps .content-section-chekbox .custom-radio {
	cursor: pointer;
	margin-bottom: 15px;
}

.custom-radio .custom-control-label::before {
	border: 1px solid #ff4c44;
	background-color: #fff;
}

.custom-radio .custom-control-input:checked~.custom-control-label::before {
	background-color: #3eb9a9;
	border: 1px solid #3eb9a9;
}

.custom-radio .custom-control-input:checked~.custom-control-label::after {
	background-image: url('img/check.png');
}

.content-section-steps .section-steps .content-section-questions hr {
	margin: 50px 0;
	height: 1px;
}

.content-section-steps .section-steps .content-section-questions .content-btn-true-false .btn {
	padding: 25px 50px;
	font-size: 24px;
}

.content-section-steps .section-steps .content-section-questions .content-btn-true-false .btn.btn-true {
	background-color: #ff4c44;
	color: #fff;
}

.content-section-steps .section-steps .content-section-questions .content-btn-true-false .btn.btn-false {
	background-color: #fff;
	border: 1px solid rgba(0,0,0,.1);
} 

.content-section-steps .section-category .btn-show-category{
	border: 1px solid #ff4c44;
	color: #ff4c44;
	padding: 6px 24px;
	background-color: #fff;
}

.content-section-steps .section-category .content-info-phone h1 {
	font-size: 48px;
	font-weight: 500;
	font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}

.content-section-steps .section-category .content-info-phone h2 {
	font-weight: 600;
	font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
	font-size: 38px;
}

.content-section-steps .section-category .content-card {
	padding: 40px 20px;
}

.content-section-steps .section-category .content-tips .number-tips {
	font-size: 60px;
	font-weight: 600;
	font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
	color: color: rgba(40, 40, 40, 255);
}

.content-section-steps .section-category .content-tips .c-position-top {
	position: relative;
	top: -45px;
}

.content-section-steps .section-category .content-tips .content-detials-tips h4 {
	font-size: 16px;
	font-weight: 600;
	font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}

.content-section-steps .section-category .content-tips .content-detials-tips h5 {
	font-weight: 400;
	font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
	font-size: 16px;
	color: #ff4c44;
}

.content-section-steps .section-category .content-tips .content-detials-tips h6 {
	font-size: 14px;
	font-weight: 600;
	font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
	margin-bottom: 30px;
}

.content-section-steps .section-category .content-tips .content-detials-tips .service {
	font-size: 16px;
	font-weight: 300;
	font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
	margin-bottom: 16px;
	display: block;
}

/* Selecion de oferta */
.content-section-steps .section-select-offer .custom-radio .custom-control-label::before{
	border: 1px solid #2b2b2b;
}

.content-section-steps .section-select-offer .filters {
	color: #ff4c44;	
	font-weight: 500;
	font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
	margin-bottom: 25px;
}

.content-section-steps .section-select-offer .content-item h6 {
	font-size: 14px;
	font-weight: 500;
	font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}

.content-section-steps .section-select-offer .content-item ul {
	padding: 0;
	list-style: none;
	margin-bottom: 30px;
}

.content-section-steps .section-select-offer .content-item ul li {
	margin-bottom: 15px;
}

.content-section-steps .section-select-offer .content-item ul li .custom-control {
	padding-left: 30px;
}

.content-section-steps .section-select-offer .content-item ul li label {
	font-size: 14px;
	font-weight: 300;
	font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}

/* CARD */

.content-section-steps .section-select-offer .content-card-offer .header-card {
	padding: 20px 10px;
}

.content-section-steps .section-select-offer .content-card-offer .header-card .logo-header {
	vertical-align: bottom;
}

.content-section-steps .section-select-offer .content-card-offer .header-card .content-logo-dest {
	position: absolute;
	right: 40px;
	top: -5px;
}

.content-section-steps .section-select-offer .content-card-offer .header-card .title-header-card {
	display: inline-block;
	font-size: 14px;
	font-weight: 600;
	font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
	margin-bottom: 5px;
	margin-left: 20px;
}

.content-section-steps .section-select-offer .content-card-offer .body-card {
	height: 425px;
}

.content-section-steps .section-select-offer .content-card-offer .body-card span {
	font-weight: 600;
	font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
	font-size: 12px;
}

/* Details Offer */ 

.content-section-steps .section-select-offer .section-details-offer .title-details {
	padding: 30px;
}

.content-section-steps .section-select-offer .section-details-offer .details-atributes ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

/* formalize-physical */
.content-section-steps .section-formalize-physical .formalize-physical{
	padding: 80px 40px;
}

.content-section-steps .section-formalize-physical .formalize-physical h5 {
	font-size: 18px;
	font-weight: 500;
	font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}









/* Modal */ 

.modal-cart .modal-dialog {
	max-width: 800px;
}

.modal-cart .modal-dialog .modal-content {
	padding: 50px;
}

.modal-cart .modal-dialog .modal-header h5 {
	font-size: 36px;

}

.modal-cart .modal-dialog .modal-header .btn-close{
	position: absolute;
	right: 30px;
	top: 0;
	background-color: #ff4c44;
	color: #fff;
	font-size: 30px;
	line-height: 1;
	padding: 0 6px;
	border: 0;
	border-radius: 0;
}

.modal-cart .modal-dialog .modal-body p {
	font-weight: 300 !important;
	font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
	line-height: 24px;
	font-size: 14px;
}

.modal-cart .modal-dialog .modal-footer .btn-cancel {
	background-color: transparent;
	text-decoration: underline;
}

/* Footer */
.content-footer {
    background-color: #262626;
    padding: 80px 0 0;
}
.content-footer .content-contact {
	color: #fff;
}

.content-footer .content-contact .question {
	margin-bottom: 15px;
}

.content-footer .content-contact li {
	list-style: none;
	padding: 20px 0 35px;
	border-bottom: 1px solid #000;
	margin-bottom: 30px;
}

.content-footer .content-contact li .first-item {
	padding: 15px 15px 15px 0;
}

.content-footer .content-contact li .second-item {
	padding: 15px;
}

.content-footer .content-contact li .third-item {
	padding: 15px;
}

.content-footer .content-contact a {
	text-decoration: underline;
	color: #fff;
}

.content-footer .content-utils .content-tools img {
	margin-right: 10px;
}

.content-footer .content-utils .content-tools{
	color: #fff;
	margin-bottom: 10px;
}

.content-footer .content-info-footer {
	margin-top: 80px;
	padding: 20px;
	background-color: #2a2a2a;
}

.content-footer .content-info-footer .container {
	position: relative;
}

.content-footer .content-info-footer ul {
	display: inline-block;
	padding: 0;
	margin: 0;
}

.content-footer .content-info-footer ul li {
	display: inline;
}

.content-footer .content-info-footer ul li a {
	color: #fff;
	margin-right: 30px;
	font-size: 14px;
}

.content-footer .content-info-footer .entitlements {
	position: absolute;
	right: 0;
	color: #fff;
	display: inline-block;
}